@model GrupoADyD.Models.Product

<div class="form-group" id="DetailsProduct">
    <table class="table">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>PV</th>
            <th>BV</th>
            <th>Costo</th>
            <th>Precio</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="Code" value="@Html.DisplayFor(Model => Model.Code)" />
                @Html.DisplayFor(Model => Model.Code)
            </td>
            <td>
                <a href="~/Products/Details/@Html.DisplayFor(Model => Model.ProductId)" id="IdProduct">
                    @Html.DisplayFor(Model => Model.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(Model => Model.PV)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.PV)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Cost)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Price)
            </td>
            <td>
                <input class="btn btn-default" type="button" title="Agregar Producto" value="Agregar" id="AddProduct" name="AddProduct" />
            </td>
        </tr>
    </table>
    @*<input type="hidden" value="@Html.DisplayFor(Model => Model.ProductId)" />*@
</div>

<script>
    //Vigila el input text que recibira el codigo
    //Si se presiona en buscar..
    $(AddProduct).click(function () {

        //Valida que tenga el input tenga datos
        if (CodeProduct.length < 1 || (CodeProduct == "")) { }

            //De lo contrario si 
        else if (CodeProduct.length >= 1) {

            //Traer via Ajax (con jQuery POST) el Cliente a travez del Id
            $.post("AddProductToTable", { "Code": CodeProduct }, function (data) {

                //Devuelve el Pa la vista parcial
                $('#TableProducts').html(data);
            });

        } else {

            //Devuelve null a la vista parcial
            $('#TableProducts').html(null);
        }
    });
</script>

@*@model IEnumerable<GrupoADyD.Models.Product>

    <div class="form-group" id="DetailsProduct">
        <table class="table">
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>PV</th>
                <th>BV</th>
                <th>Costo</th>
                <th>Precio</th>
            </tr>

            @foreach (var Model in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(Model => Model.Code)
                    </td>
                    <td>
                        <a href="~/Clients/Details/@Html.DisplayFor(Model => Model.ProductId)">
                            @Html.DisplayFor(Model => Model.Name)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(Model => Model.PV)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => Model.PV)%
                    </td>
                    <td>
                        @Html.DisplayFor(Model => Model.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => Model.Price)%
                    </td>
                </tr>
            }
        </table>
        @*<input type="hidden" value="@Html.DisplayFor(Model => Model.ProductId)" />@
    </div>*@