@model ICollection<GrupoADyD.Models.Product>

@{
    TempData["ProductsTable"] = Model;
    var TotalPV = TempData["TotalPV"];
    var TotalBV = TempData["TotalBV"];
    var TotalCost = TempData["TotalCost"];
    var TotalPrice = TempData["TotalPrice"];
    var Total = TempData["Total"];
    var TotalPerProduct = TempData["TotalPerProduct"];

    TotalPerProduct = Convert.ToInt16(TotalPerProduct);

    if (TotalPerProduct != null)
    {
        if (TotalPerProduct.ToString().Equals("0"))
        {
            TotalPerProduct = 1;
        }
    }
    else
    {
        TotalPerProduct = 1;
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="TableProducts">
        <table class="table table-responsive table-condensed table-hover TableProducts">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th style="width: 90px;">Cantidad</th>
                    <th>PV</th>
                    <th>BV</th>
                    <th>Costo</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.HasProduct != null)
                {
                    foreach (var Product in Model /*Model*/)
                    {
                        <tr>
                            <td>
                                <a href="~/Products/Details/@Html.DisplayFor(ModelItem => Product.ProductId)">
                                    @Html.DisplayFor(ModelItem => Product.Code)
                                </a>
                            </td>
                            <td>
                                <a href="~/Products/Details/@Html.DisplayFor(ModelItem => Product.ProductId)">
                                    @Html.DisplayFor(ModelItem => Product.Name)
                                </a>
                            </td>
                            <td>
                                <div class="col-xs-5" style="width: 90px;">
                                    <input id="TotalQuantity" name="TotalQuantity" class="form-control col-xs-5" type="number" value="@TotalPerProduct" min="1" max="20" maxlength="20" />
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(ModelItem => Product.PV)
                            </td>
                            <td>
                                @Html.DisplayFor(ModelItem => Product.BV)
                            </td>
                            <td>
                                @Html.DisplayFor(ModelItem => Product.Cost)
                            </td>
                            <td>
                                @Html.DisplayFor(ModelItem => Product.Price)
                            </td>
                            <td>
                                <input class="btn btn-default" type="button" title="Quitar Producto" value="Quitar" id="RemoveProduct" hidden="@Html.DisplayFor(ModelItem => Product.ProductId)" name="RemoveProduct" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                @if (ViewBag.HasProduct != null)
                {
                    <tr>
                        <td colspan="2" align="right">Total</td>
                        <td>
                            <span id="ShowTotal" class="col-sm-offset-5">1</span>
                            <input type="hidden" name="Total" id="Total" value="@Total" />
                        </td>
                        <td>@TotalPV</td>
                        <td>@TotalBV</td>
                        <td>@TotalCost</td>
                        <td>@TotalPrice</td>
                        <td></td>
                    </tr>
                    TempData["TotalPV"] = TotalPV;
                    TempData["TotalBV"] = TotalBV;
                    TempData["TotalCost"] = TotalCost;
                    TempData["TotalPrice"] = TotalPrice;
                    TempData["Total"] = Total;
                    TempData["TotalPerProduct"] = TotalPerProduct;
                }
            </tfoot>
        </table>
    </div>
}
<script>
    $(document).ready(function () {
        $("#TotalQuantity").bind('keyup mouseup', function (e) {

            var Clicked = e.target.value;

            $("#ShowTotal").text(Clicked);

            $("#Total").val(Clicked);
        });
    });
</script>