@model GrupoADyD.Models.Sale

@{
    ViewBag.Title = "Crear Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

<div class="form-inline">
    <h4>Venta</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Client, "Cliente", new { @class = "col-lg-3 control-label" })

                    @Html.DropDownListFor(model => model.Client, (IEnumerable<SelectListItem>)ViewBag.Clients, "Seleccione..", new { @class = "form-control col-md-4" })

                    @Html.ValidationMessageFor(model => model.Client, "", new { @class = "label label-danger text-info" })
                </div>
            </div>

            <div class="col-md-3">
                <label class="col-sm-3 control-label">Producto</label>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="TextProduct" placeholder="Codigo o Nombre">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="SearchProduct" type="button">Buscar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        @Html.Partial("~/Views/Sales/_ClientSale.cshtml")
        @Html.Partial("~/Views/Sales/_ProductSale.cshtml")

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <hr />

        @Html.Partial("~/Views/Sales/_SalePartial.cshtml")

    }
</div>

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

<script>

    $('#DetailsClient').html(null);
    $('#DetailsProduct').html(null);

    var dropd = document.getElementById("Client");
    var textProducts = $(TextProduct).val();

    function IdClient() {
        return dropd.options[dropd.selectedIndex].text;
    }

    $('.form-group #Client').change(function () {

        if (IdClient() != "Seleccione..") {
            $.post("FindById", { "Id": dropd.value }, function (data) {
                $('#DetailsClient').html(data);
            });
        }
        else {
            $('#DetailsClient').html(null);
        }
    });

    $('.form-group #SearchProduct').click(function () {
        if ($(TextProduct).val().length < 1 || ($(TextProduct).val() == "")) {

        }
        else if ($(TextProduct).val().length >= 1) {
            $.post("FindProduct", { "NameOrCode": $(TextProduct).val() }, function (data) {
                $('#DetailsProduct').html(data);
            });

        }
    });
</script>