@model GrupoADyD.Models.Sale

@{
    ViewBag.Title = "Crear Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

<div class="form-inline">
    <h4>Venta</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Client, "Cliente", new { @class = "col-lg-3 control-label" })

                    @Html.DropDownListFor(model => model.Client, (IEnumerable<SelectListItem>)ViewBag.Clients, "Seleccione..", new { @class = "form-control col-md-4" })

                    @Html.ValidationMessageFor(model => model.Client, "", new { @class = "label label-danger text-info" })
                </div>
            </div>

            <div class="col-md-3">
                <label class="col-sm-3 control-label">Producto</label>
                <div class="form-group">
                    <div></div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="TextProduct" placeholder="Codigo o Nombre">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="SearchProduct" type="button">Buscar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-3">
                @Html.Partial("~/Views/Sales/_ClientSale.cshtml")
            </div>
            <div class="col-md-3">
                @Html.Partial("~/Views/Sales/_ProductSale.cshtml")
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <hr />

        <div class="row">
            @Html.Partial("~/Views/Sales/_TableSale.cshtml")
        </div>

    }
</div>

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

<script>

    $('#DetailsClient').html(null);
    $('#DetailsProduct').html(null);
    //$('#TableProducts').html(null);

    //Dropdown que tiene el CLiente a buscar
    var dropd = document.getElementById("Client");

    //Caja de texto que recibe el codigo de Producto a buscar
    var textProducts = $(TextProduct).val();

    //Caja de texto que recibe el codigo de Producto a buscar
    var CodeProduct = '';



    //Vigila el dropdown
    //Si se selecciona otro elemento del DropDown..
    $('.form-group #Client').change(function () {

        //Si el indidce no es Cero
        if (dropd.options[dropd.selectedIndex].text != "Seleccione..") {

            //Traer via Ajax (con jQuery POST) el Cliente a travez del Id
            $.post("FindClientById", { "Id": dropd.value }, function (data) {

                //Devuelve el cliente a la vista parcial
                $('#DetailsClient').html(data);
            });
        }
        //De lo contrario
        else {

            //Devuelve null a la vista parcial
            $('#DetailsClient').html(null);
        }
    });



    //Vigila el input text que recibira el codigo
    //Si se presiona en buscar..
    $(SearchProduct).click(function () {

        //Valida que tenga el input tenga datos
        if ($(TextProduct).val().length < 1 || ($(TextProduct).val() == "")) { }
        //De lo contrario
        else if ($(TextProduct).val().length >= 1) {

            //Traer via Ajax (con jQuery POST) el Cliente a travez del Id

            $.post("FindProduct", { "NameOrCode": $(TextProduct).val() }, function (data) {

                //Devuelve el Pa la vista parcial
                $('#DetailsProduct').html(data);

                //Caja de texto que recibe el codigo de Producto a buscar
                CodeProduct = $('input[name=Code]').val();
            });
        }
        else {

            //Devuelve null a la vista parcial
            $('#DetailsProduct').html(null);

            //Caja de texto que recibe el codigo de Producto a buscar
            CodeProduct = $('input[name=Code]').val();
        }
    });
</script>